* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.2vw;
}
::-webkit-scrollbar-thumb {
  background-color: red;
}
::-webkit-scrollbar-track {
  background: none;
}
#root {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: rgb(133, 130, 130);
}
.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.upperspace {
  display: block;
  width: 100vw;
  height: 30vh;
}

.navContainer {
  display: flex;
  top: 10px;
  z-index: 100;
  position: fixed;
  font-weight: bold;
  backdrop-filter: blur(10px);
  width: 98vw;
  height: auto;
  border-radius: 5vh;
  align-items: center;
  justify-content: space-around;
}
.swl2-show {
  background: #141a11;
}
.footer {
  /* background-color: rgba(61, 58, 58, 0.8); */
  background: linear-gradient(
    rgba(16, 15, 15, 0.8),
    rgb(46, 46, 46),
    rgb(46, 46, 46),
    rgb(46, 46, 46),
    rgba(16, 15, 15, 0.8)
  );
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.footer > h2 {
  font-weight: bolder;
  font-size: 1.2rem;
  color: black;
}

/* this is for navbar */

.navLogo {
  height: 50px;
  line-height: 50px;
  padding: auto 10px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}
.navLogo:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e68a00,
    0 0 25px #e65c00, 0 0 30px #e60000, 0 0 35px #e60000 inset;
  transition-duration: 0.2s;
}
.d,
.w,
.a,
.p,
.b,
.c,
.l,
.s {
  color: red;
}
img {
  height: 40vh;
  width: 40vw;
  filter: brightness(60%);
  border-radius: 20px;
}
#about {
  height: 90vh;
  width: 100vw;
  display: flex;
  background-color: rgba(63, 63, 63, 0.364);
}
.aboutWatermark {
  height: 90vh;
  line-height: 90vh;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.aboutWatermark > span {
  color: black;
  font-size: 20vh;
  font-weight: bolder;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aboutContainer {
  display: flex;
  padding: 2em;
  text-align: center;
  width: 90%;
  height: 100%;
}
#blogs {
  height: 100vh;
}
.navLinkContainer {
  display: flex;
  height: 70px;
  width: auto;
  justify-content: space-between;
}
.navLinks {
  display: block;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px 5px;
  padding: 0px 20px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 50px;
  transition-duration: 0.2s;
  user-select: none;
}
.navLinks:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e68a00,
    0 0 25px #e65c00, 0 0 30px #e60000, 0 0 35px #e60000 inset;
  transition-duration: 0.2s;
}
.navContact {
  background-color: black;
  border-radius: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.navContact:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e68a00,
    0 0 25px #e65c00, 0 0 30px #e60000, 0 0 35px #e60000 inset;
  transition-duration: 0.2s;
}
.subContainer {
  width: 100vw;
  height: auto;
  display: flex;
  margin: 5px 0px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#contact {
  height: 90vh;
  width: 100vw;
  display: flex;
  margin-bottom: 2vh;
  background-color: #242323cc;
  justify-content: space-around;
}
.contactWatermark {
  height: 90vh;
  color: black;
  font-size: 10em;
  line-height: 90vh;
  user-select: none;
  font-weight: bolder;
  -ms-user-select: none;
  -moz-user-select: none;
  text-transform: uppercase;
  -webkit-user-select: none;
}
.contactForm {
  display: flex;
  padding: 2em;
  border-radius: 1rem;
  height: 54vh;
  margin-top: 20vh;
  width: auto;
  border: 3px solid black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.col-md-12 {
  position: relative;
  width: 100%;
}
.form-control {
  background-color: black;
  border: none;
  padding: 0.5em;
  color: rgb(160, 153, 153);
  border-radius: 10px;
  width: 94%;
  font-size: 1.5rem;
  margin: 10px 0px;
  caret-color: rgb(100, 0, 0);
}
.form-control::placeholder {
  color: rgba(255, 0, 0, 0.412);
  font-size: 0.6em;
  text-transform: uppercase;
}
.form-control:focus {
  outline: none;
  place-content: none;
  color: rgb(160, 153, 153);
}
#projects {
  height: 90vh;
  display: flex;
  align-items: center;
}
.form-control:focus::placeholder {
  color: transparent;
  transition: 0.2s;
}
.innerContainer {
  width: 50vw;
  font-size: 1.4em;
}
.innerContainer > h2 {
  text-transform: uppercase;
}
.btn {
  background-color: rgba(255, 0, 0, 0.2);
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 1.2em;
  margin: 1em 0em;
  color: rgb(133, 130, 130);
  padding: 0.2em;
  font-size: 1.9rem;
}
/* end of contact form */
.bannerBack {
  background-size: cover;
  background-blend-mode: color;
  height: 95vh;
  width: 100vw;
}
.bannerWatermark {
  display: block;
  z-index: -100;
}
.bannerWatermark > .mern {
  text-transform: uppercase;
  font-size: 20vh;
  position: absolute;
  letter-spacing: 100px;
  top: 150px;
  left: -4em;
  color: rgba(63, 63, 63, 0.364);
}
.bannerWatermark > span {
  text-transform: uppercase;
  font-size: 20vh;
  position: absolute;
  top: 600px;
  right: 20px;
  color: rgba(63, 63, 63, 0.412);
}
.banner {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: left;
}

.banner h2 {
  margin-top: 10px;
}
.work-text {
  font-size: 50px;
}
.cardContainer {
  display: grid;
  height: auto;
  position: absolute;
  right: 10vw;
  justify-content: space-between;
  width: 40vw;
  grid-template-columns: auto auto;
}
.cards {
  display: block;
  height: 100px;
  margin: 10px 0px;
  width: 300px;
  border-radius: 10px;
  border: 4px solid rgb(0, 0, 0);
}

.typewriter h1 {
  color: rgb(133, 130, 130);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 10px;
  overflow: hidden;
  border-right: 0.15em solid rgb(100, 0, 0);
  white-space: nowrap;
  animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(100, 0, 0);
  }
}
.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navLinkContainer {
    display: none;
  }
  .navContact {
    display: none;
  }
  .navContainer {
    justify-content: space-evenly;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger > span {
    background-color: rgb(133, 130, 130);
    height: 3px;
    border-radius: 1px;
    width: 100%;
  }
  .banner > .typewriter,
  .banner > h2 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
}

a {
  text-decoration: none;
  color: rgb(133, 130, 130);
}
.form {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
}

.workContainer {
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
}
.leftContainerWork,
.rightContainerWork {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200vh;

  width: 40vw;
}
.Log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 97vw;
  height: 93vh;
}
#Login {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  border-radius: 1em;
}
.llink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.loginLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: rgb(0, 0, 0);
  height: 5vh;
  width: 90vw;
  text-transform: uppercase;
  /* border-bottom: 5px solid rgb(46, 46, 46); */
}
.at {
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 1.2em;
  font-size: 1.6em;
  user-select: none;
}
.inactive {
  background-color: black;
}
.active {
  background-color: rgba(255, 0, 0, 0.2);
  outline: none;
  border: none;
}
.loginLink > .at:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e68a00,
    0 0 25px #e65c00, 0 0 30px #e60000, 0 0 35px #e60000 inset;
  transition-duration: 0.2s;
}
#signin,
#signup {
  display: flex;
  padding: 2em;
  height: 73vh;
  width: 56vw;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
#sup {
  width: 98%;
}
.signin:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e68a00,
    0 0 25px #e65c00, 0 0 30px #e60000, 0 0 35px #e60000 inset;
  transition-duration: 0.2s;
}
.signup:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e68a00,
    0 0 25px #e65c00, 0 0 30px #e60000, 0 0 35px #e60000 inset;
  transition-duration: 0.2s;
}
.signin {
  font-size: 1.6em;
  user-select: none;
  padding: 10px 20px;
  font-weight: bolder;
  border-top-left-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
}
.signup {
  font-size: 1.6em;
  user-select: none;
  padding: 10px 20px;
  font-weight: bolder;
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
}
.signin,
.signup {
  cursor: pointer;
}
.scontainer {
  display: flex;
  border-radius: 2em;
  padding: 1em;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 52vh;
  box-shadow: 0 0 5px rgb(83, 83, 83), 0 0 10px rgb(175, 166, 166),
    0 0 20px rgb(109, 96, 96), 0 0 40px rgb(88, 77, 77),
    0 0 60px rgb(123, 101, 101);
}
.lg {
  border-radius: 1.2em;
  background-color: rgb(60, 60, 60);
}
.lg::placeholder {
  color: rgb(0, 0, 0);
}
#admin {
  height: 90vh;
}
.blogMainContainer {
  display: flex;
  flex-direction: column;
}
.blog-nav {
  display: flex;
  width: 95vw;
}
.blog-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
